/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-bottom: 2px solid #c7c7c7;
}

/* Brandname Styles */
.logo a {
  text-decoration: none;
  color: #007bf4;
  font-size: 2.2rem;
  font-weight: bold;
}

/* Navbar Styles */
.nav-list {
  display: flex;
  list-style: none;
}

/* Navlink Styles */
.nav-link {
  position: relative;
}

.nav-link a {
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  display: block;
}

.nav-link a:hover {
  color: #fff;
  background-color: #555;
}

/* Dropdown Styles */
.dropdown-list {
  display: none;
  background-color: #fff;
  list-style: none;
  position: absolute;
  min-width: 15rem;
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  transition: top 3s ease;
  top: 100%;
}

.dropdown-link a:hover {
  color: #f41212;
  background-color: #fff;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown:hover .drop-btn {
  color: #fff;
  background-color: #555;
}

/* Main Container Styles */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-right: 2rem;
}

/* Intro Styles */
.welcome {
  color: #f41212;
  margin: 0.75rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.gif {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
